*{
    padding:0;
    margin:0;
}

.header {
    
}

.header, heading{
    
}

.header, sub_heading{
    
}

.marksheetcreating{
    
}

.marksheetcreating, createNew{
    
}

.institution{
    text-align: center;
}
.container{
    text-align: center;
}

.container,marksheet{
    
}

.marksheet,th,td{
    border: 2px solid gray;
    border-collapse: collapse;
    text-align: center;
}
